<html lang="es">
<head>
</head>
<body>

 

 <div style="height: 100px;">
</div>
<div style="padding: 20px;">
<h2>Ramas</h2><hr/>
  <ul >
  <ng-container *ngFor="let branch of branchList">
    <li  style="cursor: pointer; " >
      Rama: <b>{{branch.name}}</b> &nbsp;&nbsp;&nbsp;  <button type="button" class="btn btn-info" (click)="openCommits(branch.commit.url)">Ver Commits</button>
    </li>
  </ng-container>
</ul>
</div> 
<div class="modal fade" id="myModalListCommit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Commits por branch</h4>
      </div>
      <div class="modal-body">
        <div *ngIf="branchCommitList">
        <ul >
          
            <li  style="cursor: pointer; " >
             Autor: <b>{{branchCommitList.commit.author.name}}</b> &nbsp;&nbsp;&nbsp; mail: <b>{{branchCommitList.commit.author.email}}</b> <br>
             {{branchCommitList.commit.author.date}}<br>
             Mensaje: <b>{{branchCommitList.commit.message}}</b><br>
             # de archivos: <b>{{branchCommitList.files.length}}</b>
            </li>
          
        </ul>
      </div>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

</body>

    </html>
